In [1]:
import numpy as np # operaciones matemáticas (numerical python)
import pandas as pd # manipulación de datos
import warnings # nobody likes warnings


from surprise import accuracy

In [2]:
data5 = pd.read_csv('RAW_interactions.csv')

In [3]:
data6= pd.read_csv('RAW_recipes.csv')

U = user id
i = recipe id

In [4]:
data5.shape

(1132367, 5)

In [5]:
data5.columns

Index(['user_id', 'recipe_id', 'date', 'rating', 'review'], dtype='object')

In [6]:
data5.head(5)

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [7]:
data6.shape

(231637, 12)

In [8]:
data6.head(5)

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [9]:
ingredientes_unicos = data6['ingredients'].unique()
ingredientes_unicos

array(["['winter squash', 'mexican seasoning', 'mixed spice', 'honey', 'butter', 'olive oil', 'salt']",
       "['prepared pizza crust', 'sausage patty', 'eggs', 'milk', 'salt and pepper', 'cheese']",
       "['ground beef', 'yellow onions', 'diced tomatoes', 'tomato paste', 'tomato soup', 'rotel tomatoes', 'kidney beans', 'water', 'chili powder', 'ground cumin', 'salt', 'lettuce', 'cheddar cheese']",
       ...,
       "['hard-cooked eggs', 'mayonnaise', 'dijon mustard', 'salt-free cajun seasoning', 'tabasco sauce', 'salt', 'black pepper', 'fresh italian parsley']",
       "['butter', 'eagle brand condensed milk', 'light brown sugar', 'sour cream', 'egg', 'extract', 'nutmeg', 'self-rising flour', 'bisquick', 'wooden popsicle sticks']",
       "['granulated sugar', 'shortening', 'eggs', 'flour', 'cream of tartar', 'baking soda', 'vanilla extract']"],
      dtype=object)

In [10]:
nutrientes_unicos = data6['nutrition'].unique()
nutrientes_unicos

array(['[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]',
       '[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]',
       '[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]', ...,
       '[59.2, 6.0, 2.0, 3.0, 6.0, 5.0, 0.0]',
       '[188.0, 11.0, 57.0, 11.0, 7.0, 21.0, 9.0]',
       '[174.9, 14.0, 33.0, 4.0, 4.0, 11.0, 6.0]'], dtype=object)

In [11]:
ingredientes_unicos = data6['ingredients'].str.strip("[]").str.replace("'", "").str.split(", ", expand=True).stack().unique()

# Crear un nuevo DataFrame con los ingredientes únicos
tabla_ingredientes = pd.DataFrame({'ingredientes': ingredientes_unicos})

In [12]:
tabla_ingredientes.sample(25)

                                      ingredientes
6361   sugar-free instant banana cream pudding mix
11132                               cilantro paste
1779                                  bulgar wheat
5886                                      mung dal
350                                        rind of
12215                                papadum bread
14647                              ground masticha
453                        whole wheat bread dough
5391                               red pasta sauce
11676                      fruit juice concentrate
10313                            miniature pretzel
1166                    frozen hash brown potatoes
12851                        sweet dumpling squash
1088                                cool whip free
6951                                      chayotes
11255                    cranberry-raspberry drink
3654                     butterscotch sundae sauce
3161                                     fruit jam
166                                       tomatoes
5881             simply potatoes red potato wedges
8102                                tangerine zest
8997                                    pork rinds
1144                      butter flavor shortening
2882                                 brown lentils
14668                             butter rum syrup

In [13]:
tabla_ingredientes.shape

(14906, 1)

In [14]:
data6['nutrition'] = data6['nutrition'].apply(eval)

# Crear nuevas columnas para cada número y valor
data6[['calories', 'total_fat_pdv', 'sugar_pdv', 'sodium_pdv', 'protein_pdv', 'saturated_fat', 'carbohydrates']] = pd.DataFrame(data6['nutrition'].tolist(), index=data6.index)

In [15]:
columnas_a_eliminar = ['contributor_id', 'submitted', 'tags','nutrition',]
data6 = data6.drop(columnas_a_eliminar, axis=1)

In [16]:
data6.sample(1)

,name,id,minutes,n_steps,steps,description,ingredients,n_ingredients,calories,total_fat_pdv,sugar_pdv,sodium_pdv,protein_pdv,saturated_fat,carbohydrates
84507,five can chili,49562,15,3,"['in a saucepan , combine all ingredients', 'h...",i came across this recipe in taste of home's q...,"['chili with beans', 'mixed vegetables', 'whol...",5,195.5,7.0,32.0,46.0,16.0,9.0,11.0

In [17]:
fila_deseada = data5[data5['recipe_id'] == 59389]

fila_deseada

,user_id,recipe_id,date,rating,review
287675,296809,59389,2008-06-11,4,"This is an excellent, easy-fix side-dish w/ton..."
287676,1232243,59389,2009-04-15,5,This is wonderful and super easy! I work with...

In [18]:
mean_ratings = data5.groupby('recipe_id')['rating'].mean().reset_index()

# Fusionar data6 y mean_ratings en data8 utilizando la columna 'recipe_id'
data8 = pd.merge(data6, mean_ratings, left_on='id', right_on='recipe_id', how='left')

# Renombrar la columna 'rating' para reflejar que ahora es la media de las notas
data8.rename(columns={'rating_x': 'original_rating', 'rating_y': 'mean_rating'}, inplace=True)

In [19]:
data8.columns

Index(['name', 'id', 'minutes', 'n_steps', 'steps', 'description',
       'ingredients', 'n_ingredients', 'calories', 'total_fat_pdv',
       'sugar_pdv', 'sodium_pdv', 'protein_pdv', 'saturated_fat',
       'carbohydrates', 'recipe_id', 'rating'],
      dtype='object')

In [20]:
data8.sample(1)

,name,id,minutes,n_steps,steps,description,ingredients,n_ingredients,calories,total_fat_pdv,sugar_pdv,sodium_pdv,protein_pdv,saturated_fat,carbohydrates,recipe_id,rating
132759,meatloaf madness,441188,80,9,['combine all food ingredients into large bowl...,a juicy meatloaf with more flavor than you can...,"['ground beef', 'green bell pepper', 'onion', ...",12,404.1,40.0,16.0,9.0,66.0,51.0,2.0,441188,5.0

In [21]:
correction_dict = {
    '[butter': 'butter',
    'eggs': 'egg',
    # Añade más correcciones según sea necesario
}

# Función para corregir las palabras en una lista de ingredientes
def corregir_palabras(ingredientes):
    return [correction_dict.get(ingrediente, ingrediente) for ingrediente in ingredientes]

# Aplicar la función de corrección a la columna 'ingredients'
data8['ingredients'] = data8['ingredients'].apply(lambda x: corregir_palabras(x.split(', ')))

In [22]:

# Usar la función explode para convertir las listas en filas individuales
ingredients_df = data8[['recipe_id', 'ingredients']].explode('ingredients')

# Crear un DataFrame con los ingredientes únicos y su frecuencia
unique_ingredients_df = ingredients_df.groupby('ingredients').agg({'recipe_id': list}).reset_index()
unique_ingredients_df['num_recipes_containing_ingredient'] = unique_ingredients_df['recipe_id'].apply(len)

In [23]:
unique_ingredients_df.head(1)

,ingredients,recipe_id,num_recipes_containing_ingredient
0,"""adolph's meat tenderizer""","[487455, 149141, 382924, 12837]",4

In [24]:
unique_ingredients_df.columns

Index(['ingredients', 'recipe_id', 'num_recipes_containing_ingredient'], dtype='object')

In [25]:
data8.sample(1)

,name,id,minutes,n_steps,steps,description,ingredients,n_ingredients,calories,total_fat_pdv,sugar_pdv,sodium_pdv,protein_pdv,saturated_fat,carbohydrates,recipe_id,rating
135798,million dollar rice salad,86583,10,5,['combine cream cheese and sugar until smooth'...,grandma's salad that she would make for summer...,"[['cream cheese', 'sugar', 'cooked rice', 'mar...",8,633.7,42.0,249.0,6.0,12.0,103.0,31.0,86583,5.0

In [26]:
for column in data8.columns:
    column_type = data8[column].apply(type).unique()
    print(f"Columna '{column}' data type: {column_type}")

Columna 'name' data type: [<class 'str'> <class 'float'>]
Columna 'id' data type: [<class 'int'>]
Columna 'minutes' data type: [<class 'int'>]
Columna 'n_steps' data type: [<class 'int'>]
Columna 'steps' data type: [<class 'str'>]
Columna 'description' data type: [<class 'str'> <class 'float'>]
Columna 'ingredients' data type: [<class 'list'>]
Columna 'n_ingredients' data type: [<class 'int'>]
Columna 'calories' data type: [<class 'float'>]
Columna 'total_fat_pdv' data type: [<class 'float'>]
Columna 'sugar_pdv' data type: [<class 'float'>]
Columna 'sodium_pdv' data type: [<class 'float'>]
Columna 'protein_pdv' data type: [<class 'float'>]
Columna 'saturated_fat' data type: [<class 'float'>]
Columna 'carbohydrates' data type: [<class 'float'>]
Columna 'recipe_id' data type: [<class 'int'>]
Columna 'rating' data type: [<class 'float'>]

In [27]:
data8 = data8.dropna(subset=['name'])

In [28]:
data8['description'] = data8['description'].fillna('There is no description')

In [29]:
def explore_data(data):
    # Inicializa listas para almacenar resultados por columna
    duplicates_list = []
    nan_values_list = []
    empty_spaces_list = []

    # Itera sobre las columnas del DataFrame
    for column in data.columns:
        # Encuentra y cuenta duplicados basados en la representación de cadenas (excepto listas)
        duplicates = data[column].astype(str).duplicated().sum()
        duplicates_list.append(duplicates)

        # Encuentra y cuenta valores NaN (teniendo en cuenta listas)
        nan_values = data[column].apply(lambda x: any(pd.isna(y) for y in x) if isinstance(x, list) else pd.isna(x)).sum()
        nan_values_list.append(nan_values)

        # Encuentra y cuenta espacios en blanco (teniendo en cuenta listas)
        empty_spaces = data[column].apply(lambda x: any(y == ' ' for y in x) if isinstance(x, list) else x == ' ').sum()
        empty_spaces_list.append(empty_spaces)

    # Nuevo DataFrame con los resultados
    exploration = pd.DataFrame({"Duplicates": duplicates_list, "NaNValues": nan_values_list, "EmptySpaces": empty_spaces_list}, index=data.columns)

    # Muestra los resultados
    print(f"There are {sum(duplicates_list)} duplicates. Also;")
    
    return exploration

# Ejemplo de uso con tu DataFrame data8
explore_data_result = explore_data(data8)
print(explore_data_result)

There are 2528662 duplicates. Also;
               Duplicates  NaNValues  EmptySpaces
name                 1451          0            0
id                      0          0            0
minutes            230748          0            0
n_steps            231542          0            0
steps                 563          0            0
description          8968          0            0
ingredients          1162          0            0
n_ingredients      231595          0            0
calories           210158          0            0
total_fat_pdv      230716          0            0
sugar_pdv          229187          0            0
sodium_pdv         230746          0            0
protein_pdv        231004          0            0
saturated_fat      230439          0            0
carbohydrates      231123          0            0
recipe_id               0          0            0
rating             229260          0            0

In [30]:
unique_ingredients_df.columns

Index(['ingredients', 'recipe_id', 'num_recipes_containing_ingredient'], dtype='object')

In [31]:
data8.columns

Index(['name', 'id', 'minutes', 'n_steps', 'steps', 'description',
       'ingredients', 'n_ingredients', 'calories', 'total_fat_pdv',
       'sugar_pdv', 'sodium_pdv', 'protein_pdv', 'saturated_fat',
       'carbohydrates', 'recipe_id', 'rating'],
      dtype='object')

In [32]:
# Interfaz de línea de comandos para que el usuario ingrese los ingredientes disponibles
ingredientes_disponibles = input("Ingrese los ingredientes disponibles separados por coma: ").split(',')
ingredientes_disponibles = [ingrediente.strip() for ingrediente in ingredientes_disponibles]

# Filtrar el DataFrame para encontrar recetas que contienen al menos uno de los ingredientes proporcionados
recetas = set()
for ingrediente in ingredientes_disponibles:
    # Convertir la entrada del usuario en minúsculas y eliminar comillas y otros caracteres no deseados
    ingrediente_limpio = ingrediente.lower().replace("'", "").strip()
    
    # Filtrar el DataFrame para encontrar recetas que contienen el ingrediente
    recetas_ingrediente = unique_ingredients_df[unique_ingredients_df['ingredients'].str.lower().str.contains(ingrediente_limpio)]['recipe_id']
    
    # Convertir cada lista de recipe_id en un conjunto antes de agregarlo al conjunto de recetas
    for ids in recetas_ingrediente:
        recetas.update(set(ids))

# Filtrar las recetas encontradas por los ingredientes proporcionados
recetas_encontradas = data8[data8['recipe_id'].isin(recetas)]

# Presentar los resultados al usuario
if recetas_encontradas.empty:
    print("Lo siento, no se encontraron recetas con los ingredientes proporcionados.")
else:
    # Seleccionar las columnas deseadas del DataFrame recetas_encontradas
    recetas_para_mostrar = recetas_encontradas.loc[:, ['name','recipe_id', 'rating', 'minutes', 'steps', 'description','calories','total_fat_pdv', 'sugar_pdv', 'sodium_pdv', 'protein_pdv', 'saturated_fat', 'carbohydrates']]
    
    # Ordenar las recetas según su rating de mayor a menor y luego mostrar las primeras 10
    recetas_ordenadas = recetas_para_mostrar.sort_values(by='rating', ascending=False)
recetas_ordenadas.head(1)

Ingrese los ingredientes disponibles separados por coma:  egg, milk

,name,recipe_id,rating,minutes,steps,description,calories,total_fat_pdv,sugar_pdv,sodium_pdv,protein_pdv,saturated_fat,carbohydrates
111830,irish cream white chocolate cheesecake,35597,5.0,65,"['break the white chocolate into pieces', 'pre...",a incredible cheesecake! 8) you may add a litt...,7278.2,887.0,1412.0,126.0,224.0,1436.0,144.0

In [33]:
merged_df = pd.merge(data5, data8, on='recipe_id')
merged_df.sample(5)

,user_id,recipe_id,date,rating_x,review,name,id,minutes,n_steps,steps,...,ingredients,n_ingredients,calories,total_fat_pdv,sugar_pdv,sodium_pdv,protein_pdv,saturated_fat,carbohydrates,rating_y
736295,46545,36931,2002-08-14,0,Oh my gosh! I eat something similar to this o...,baked beans on toast au fromage,36931,10,5,"['heat beans', 'toast bread , spread with butt...",...,"[['bread', 'butter', 'vegetarian baked beans',...",4,609.7,34.0,100.0,74.0,54.0,64.0,27.0,2.500000
455080,65955,84286,2004-08-02,5,"Shelly, this is fabulous! I subbed Cojita chee...",shelly s cilantro feta dip,84286,40,7,"['optional: place feta and milk in bowl', 'cov...",...,"[['feta cheese', 'milk', 'cream cheese', 'gree...",6,1181.3,154.0,92.0,142.0,76.0,305.0,11.0,4.266667
609943,50778,50082,2003-09-15,5,Made the basic recipe (didn't use the almonds ...,baked leftover turkey salad hot dish or sandwi...,50082,50,9,"['heat oven to 350f', 'in a medium mixing bowl...",...,"[['cooked turkey', 'celery', 'almonds', 'onion...",18,347.6,34.0,8.0,15.0,59.0,40.0,2.0,5.000000
637539,2000263901,467039,2015-06-12,5,Absolutely wonderful! I added chopped onion an...,completely different tuna egg salad no mayo,467039,10,5,"['combine tuna , eggs , capers , pepper , onio...",...,"[['tuna in water', 'hard-boiled eggs', 'capers...",10,219.1,18.0,3.0,28.0,48.0,14.0,0.0,4.600000
929845,340130,149844,2007-06-11,5,Yum-oh- easy AND healthy now thats a great rec...,healthy oven fries,149844,40,8,"['combine the beaten egg white , paprika , gar...",...,"[['baking potato', 'egg white', 'paprika', 'ga...",6,162.4,1.0,8.0,1.0,11.0,0.0,11.0,4.300000

In [34]:
merged_df.shape

(1132366, 21)

In [35]:
merged_df.columns

Index(['user_id', 'recipe_id', 'date', 'rating_x', 'review', 'name', 'id',
       'minutes', 'n_steps', 'steps', 'description', 'ingredients',
       'n_ingredients', 'calories', 'total_fat_pdv', 'sugar_pdv', 'sodium_pdv',
       'protein_pdv', 'saturated_fat', 'carbohydrates', 'rating_y'],
      dtype='object')

In [38]:
import random
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split  # Agregar esta línea
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import pandas as pd

merged_df['gusto'] = 0
recetas_gustadas = []
while len(recetas_gustadas) < 5:
    receta_aleatoria = random.choice(merged_df['recipe_id'])
    receta_info = merged_df.loc[merged_df['recipe_id'] == receta_aleatoria, ['name', 'description']]
    print(f"Receta: {receta_info['name'].values[0]}")
    print(f"Descripción: {receta_info['description'].values[0]}")
    respuesta = input("¿Te gusta esta receta? (si/no): ").lower()
    if respuesta == "si":
        recetas_gustadas.append(receta_aleatoria)
        merged_df.loc[merged_df['recipe_id'] == receta_aleatoria, 'gusto'] = 1
        print("¡Genial!")
    elif respuesta == "no":
        merged_df.loc[merged_df['recipe_id'] == receta_aleatoria, 'gusto'] = 0
        print("Entendido, buscando otra receta...")
    else:
        print("Respuesta no válida. Por favor, responde 'si' o 'no'.")

Receta: brooklyn bialy recipe bialystok kucken
Descripción: this was a recipe that originated in bailystok poland and brought to new york by eastern european immigrants.these were once well known in new york delicatessens ( mainly in manhattan’s lower east side) and a favorite of the jewish community. it’s not really known outside of new york because of its short self life which does not lend itself being shipped all over the country.
these are similar to a bagel but there is no hole in the middle just a depression  which is filled with onion, garlic or poppy seeds.  it can be likened to the onion pletzel.  can also be made in different sizes from 3-4 inches to the size of a small pizza.

¿Te gusta esta receta? (si/no):  no

Entendido, buscando otra receta...
Receta: japanese style miso salad dressing
Descripción: this reminds me of the dressing on the salad in the bento boxes at the japanese chain asakaze here in sydney.  it's light and refreshing. please note australian recipe 1tbs=20mls.  if your miso is very thick, it can be easier to put it in a small bowl and gradually stir in the other ingredients a little at a time so that it doesn't get lumpy.  really needs the sesame seeds at the end and a little goes a long way.

¿Te gusta esta receta? (si/no):  si

¡Genial!
Receta: easy 20 minute  texas  chili ww
Descripción: a yummy weight watchers chili recipe that you can whip up after a long day at work. serve with my ww corn bread recipe. 5 points per 1 cup serving

¿Te gusta esta receta? (si/no):  si

¡Genial!
Receta: poor man s pierogies
Descripción: pierogies in a pan! this is a wonderful, rich casserole that tastes just like potato and cheese pierogies (without all the fuss!) nice, hearty comfort food!! can be served as a main dish with veggies or a salad, or as a side dish.

¿Te gusta esta receta? (si/no):  si

¡Genial!
Receta: lemon chickpea quinoa burger
Descripción: a delicious and protein rich vegetarian burger substitute - and easy to boot!  this one comes from www.inspired.ca.

¿Te gusta esta receta? (si/no):  si

¡Genial!
Receta: bahamas johnny cake
Descripción: typically served as a side dish for breakfast with salt fish.
found online at www.caribbeanchoice.com for the zwt5

¿Te gusta esta receta? (si/no):  si

¡Genial!

In [39]:
# Preguntar al usuario qué receta quiere hacer
receta_elegida = input("¿Qué receta te gustaría hacer? Por favor, escribe el nombre de la receta: ")

# Buscar la receta en el DataFrame
receta_elegida_info = merged_df.loc[merged_df['name'].str.lower() == receta_elegida.lower()]

# Verificar si la receta existe
if len(receta_elegida_info) == 0:
    print("Lo siento, no se encontró la receta. Por favor, asegúrate de escribir el nombre correctamente.")
else:
    # Mostrar la información de la receta
    print(f"Receta: {receta_elegida_info['name'].values[0]}")
    
    # Mostrar los pasos para hacer la receta en una línea horizontal
    print("Pasos para hacer la receta:")
    pasos_receta = ' '.join(receta_elegida_info['steps'].values[0])  # Unir los pasos en una sola cadena
    print(pasos_receta)
    
    # Mostrar información adicional
    print("\nInformación adicional de la receta:")
    print(f"Tiempo de preparación: {receta_elegida_info['minutes'].values[0]} minutos")
    print("Ingredientes:")
    for ingredient in receta_elegida_info['ingredients'].values[0]:
        print("- " + ingredient)
    print(f"Calorías: {receta_elegida_info['calories'].values[0]}")
    print(f"Grasa total (% del valor diario): {receta_elegida_info['total_fat_pdv'].values[0]}%")
    print(f"Azúcar (% del valor diario): {receta_elegida_info['sugar_pdv'].values[0]}%")
    print(f"Sodio (% del valor diario): {receta_elegida_info['sodium_pdv'].values[0]}%")
    print(f"Proteína (% del valor diario): {receta_elegida_info['protein_pdv'].values[0]}%")
    print(f"Grasa saturada: {receta_elegida_info['saturated_fat'].values[0]}")
    print(f"Carbohidratos: {receta_elegida_info['carbohydrates'].values[0]}")

¿Qué receta te gustaría hacer? Por favor, escribe el nombre de la receta:  lemon chickpea quinoa burger

Receta: lemon chickpea quinoa burger
Pasos para hacer la receta:
[ ' p u l s e   a l l   i n g r e d i e n t s   i n   a   f o o d   p r o c e s s o r   u n t i l   w e l l   c o m b i n e d   a n d   f a i r l y   s m o o t h ' ,   ' s h a p e   m i x t u r e   i n t o   4   e q u a l - s i z e d   p a t t i e s ' ,   ' c o v e r   w i t h   p l a s t i c   w r a p   a n d   r e f r i g e r a t e   u n t i l   n e e d e d ' ,   ' p r e h e a t   b a r b e c u e   t o   m e d i u m - h i g h ' ,   ' g r i l l   p a t t i e s   w i t h   l i d   c l o s e d   f o r   8   t o   1 0   m i n ' ,   ' ,   f l i p p i n g   o n c e ' ]

Información adicional de la receta:
Tiempo de preparación: 28 minutos
Ingredientes:
- ['chickpeas'
- 'red onion'
- 'fresh parsley'
- 'garlic cloves'
- 'lemon zest'
- 'lemon juice'
- 'coriander'
- 'salt'
- 'pepper'
- 'egg'
- 'quinoa'
- 'rolled oats']
Calorías: 289.8
Grasa total (% del valor diario): 6.0%
Azúcar (% del valor diario): 3.0%
Sodio (% del valor diario): 54.0%
Proteína (% del valor diario): 24.0%
Grasa saturada: 3.0
Carbohidratos: 16.0

In [40]:
import pandas as pd

# Preguntar al usuario cuántas calorías necesita consumir al día y cuántas comidas realiza al día
calorias_diarias = int(input("¿Cuántas calorías necesita consumir al día? "))
comidas_al_dia = int(input("¿Cuántas comidas realiza al día? "))

# Calcular el número de calorías por comida
calorias_por_comida = calorias_diarias / comidas_al_dia

# Crear un DataFrame vacío para almacenar las recetas seleccionadas
recetas_seleccionadas = pd.DataFrame(columns=merged_df.columns)

# Inicializar la suma de calorías de las recetas seleccionadas
calorias_totales = 0

# Iterar hasta alcanzar o superar el número total de calorías necesarias
while calorias_totales < calorias_diarias:
    # Filtrar las recetas que tengan un contenido calórico por debajo o igual a las calorías por comida
    recetas_filtradas = merged_df[merged_df['calories'] <= calorias_por_comida]

    # Seleccionar una receta aleatoria de las que cumplen el criterio
    receta_seleccionada = recetas_filtradas.sample(n=1)

    # Agregar la receta seleccionada al DataFrame de recetas seleccionadas
    recetas_seleccionadas = pd.concat([recetas_seleccionadas, receta_seleccionada])

    # Actualizar la suma de calorías totales
    calorias_totales += receta_seleccionada['calories'].iloc[0]

# Mostrar el DataFrame con las recetas seleccionadas
print("Recetas seleccionadas para cumplir con el criterio de calorías por comida:")
recetas_seleccionadas

¿Cuántas calorías necesita consumir al día?  3300
¿Cuántas comidas realiza al día?  6

Recetas seleccionadas para cumplir con el criterio de calorías por comida:

,user_id,recipe_id,date,rating_x,review,name,id,minutes,n_steps,steps,...,n_ingredients,calories,total_fat_pdv,sugar_pdv,sodium_pdv,protein_pdv,saturated_fat,carbohydrates,rating_y,gusto
12472,136997,163154,2007-06-26,5,"Delicious! Couldn't taste the rum though, but ...",cubano pork tenderloin,163154,520,7,"['rinse the tenderloins , pat dry and place in...",...,10,292.0,12.0,8.0,37.0,94.0,13.0,1.0,4.375000,0
717809,2001779933,71908,2017-11-05,0,Jello had a recipie for this about 20 years ag...,sugar free strawberry pie,71908,15,9,"['in a saucepan , mix dry pudding and gelatin ...",...,5,201.2,11.0,15.0,18.0,7.0,9.0,11.0,3.500000,0
98866,2000147573,443758,2015-12-07,0,"This SUCKED !!! Had to put back in oven, as co...",simple baked chicken drumsticks,443758,65,9,['put some olive oil in the bottom of a 9x13 p...,...,7,528.9,43.0,0.0,11.0,126.0,39.0,0.0,3.939130,0
133524,360437,414808,2011-07-12,5,I make fried eggs often and I really enjoyed t...,moroccan fried eggs with cumin and salt,414808,8,5,['heat the oil in a frying pan over medium hea...,...,4,182.8,21.0,1.0,5.0,25.0,18.0,0.0,4.833333,0
584796,50969,404277,2011-08-26,4,"I made this recipe on August 25th., 2011 for t...",chicken rice chili,404277,40,6,['spray a large pot with cooking spray then co...,...,15,441.4,17.0,16.0,42.0,69.0,15.0,17.0,4.000000,0
872622,654994,12975,2007-11-18,4,"These came out very well. Although, I didn't h...",scrambled egg muffins,12975,50,7,"['brown sausage', 'drain well', 'preheat oven ...",...,8,152.2,17.0,2.0,13.0,20.0,21.0,0.0,4.044776,0
332046,167782,88129,2013-05-09,4,This was lacking something for me. Maybe I&#03...,vegetarian potatoes and soyrizo,88129,25,10,"['section potato into quarters , then slice th...",...,8,482.4,21.0,42.0,33.0,21.0,10.0,27.0,4.500000,0
642400,526666,104373,2011-07-21,5,"SO good; I used the white chocolate option, an...",chocolate pistachio cherries,104373,50,11,['line a baking tray with non-stick baking pap...,...,3,115.2,14.0,12.0,0.0,6.0,18.0,2.0,4.500000,0
728168,79503,53583,2003-03-26,4,"Very good,quick too!My kids loved them.A littl...",tasty tortilla crisps,53583,15,6,"['preheat oven to 350f', 'cut each tortilla in...",...,3,30.0,1.0,0.0,2.0,1.0,1.0,1.0,4.833333,0
125338,2000725863,92095,2016-01-24,5,These meatballs are GREAT!!!!! Easy to make an...,authentic italian meatballs,92095,200,5,['mix all ingredients in a large bowl by hand'...,...,9,138.5,12.0,1.0,8.0,21.0,15.0,1.0,4.308793,0
705780,1028247,17180,2009-08-23,3,"Excellent with coffee, The amounts shown only ...",banana bread with a twist,17180,55,9,"['grease 2 loaf pans', 'preheat oven to 350', ...",...,6,219.3,6.0,94.0,7.0,10.0,5.0,13.0,4.000000,0
398968,278524,190724,2007-02-28,5,I have been following the Abs Diet for about t...,abs diet ultimate power smoothie,190724,5,1,['put in smoothie machine and blend'],...,6,212.6,9.0,37.0,3.0,22.0,8.0,9.0,5.000000,0
803708,1595620,180657,2010-04-11,5,"Wow! I'm a clam nut! I have, for 30 yrs or m...",aunt phyllis clam casserole,180657,40,5,['saute first 4 ingredients in a large skillet...,...,13,494.4,29.0,22.0,44.0,72.0,16.0,14.0,5.000000,0